<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link href="/output.css" rel="stylesheet">
</head>
<body class="flex flex-col min-h-screen p-10">

    <header class="text-center my-10">
        <h3>BAYAN ACADEMY - WEB DEVELOPMENT BACKEND 101</h3>
    </header>

    <div class="flex items-center justify-center flex-col gap-10 my-10">
        <h1 class="text-3xl text-blue-600 text-center">Welcome to the Inventory Management System</h1>
        <a href="/inventory" class="bg-blue-500 text-white px-6 py-4 rounded-lg hover:bg-blue-600 transition-colors">Open Inventory</a>
    </div>

    <footer class="text-center mt-auto">
        <p>Developed by Franc Alvenn Dela Cruz</p>
        <p>&copy; 2024 Inventory Management System. All rights reserved.</p>
    </footer>


</body>
</html>